{% extends "dash_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
			<h1 class="h2">{{ title }}</h1>	
		</div>

		<div class="row">
			<div class="col-">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				  <!-- href="#v-pills- pill.id " -->
				  {% for pill in nav_pills %}
				  <a class="nav-link{% if loop.index == nav_ix_sub %} active{% endif %}" id="v-pills-{{ pill.id }}-tab" data-toggle="pill" href="{{ pill.href }}" role="tab" aria-controls="v-pills-{{ pill.id }}" aria-selected="{% if loop.index == nav_ix_sub %}true{% else %}false{% endif %}">{{ pill.title }}</a>
				  {% endfor %}
				</div>
			</div>
			<div class="col">
				{% if nav_ix_sub == 1 %}
				{% include "dash_cfg_loc.html" %}
				{% endif %}
				
				{% if nav_ix_sub == 2 %}
				{% include "dash_cfg_prefs.html" %}
				{% endif %}

			</div>
		</div>


{% endblock %}